@page
@using SailClubLibrary.Models
@model RazorBoatApp2026InClass.Pages.Boats.IndexModel
@{
    ViewData["Title"] = "List boats";
}

<h1>List of boats</h1>

<p>
    <a asp-page="CreateBoat">Create a new boat</a>
</p>

<form method="get">
    search:<input type="text" asp-for="@Model.FilterCriteria"/>
    <input type="submit" value="Filter" />
</form>
<table class="table">
    <thead>
        <tr>
            <form method="get">
                @* <th>ID</th> *@
                <th>
                    <button type="submit" class="btn btn-link" name="SortBy" Value="ID">ID</button>
                </th>
                <th>BoatType</th>
                <th>Model</th>
                @* <th>SailNumber</th> *@
                <th>
                    <button type="submit" class="btn btn-link" name="SortBy" Value="SailNumber" >SailNumber</button>
                </th>
                @* <th>YearOfConstruction</th> *@
                <th>
                    <button type="submit" class="btn btn-link" name="SortBy" Value="YearOfConstruction">YearOfConstruction</button>
                </th>
                <th></th>
            </form>
        </tr>
    </thead>
    <tbody>
        @foreach(Boat item in Model.Boats)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.TheBoatType</td>
                <td>@item.Model</td>
                <td>@item.SailNumber</td>
                <td>@item.YearOfConstruction</td>
                <td><a asp-page="DeleteBoat" asp-route-sailNumber="@item.SailNumber">Delete</a> |
                <a asp-page="EditBoat" asp-route-sailNumber="@item.SailNumber">Edit</a></td>
            </tr>
        }

    </tbody>
</table>