@page
@using SailClubLibrary.Models
@model RazorBoatApp2026InClass.Pages.Boats.IndexModel
@{
    ViewData["Title"] = "List boats";
}

<h1>List of boats</h1>

<p>
    <a asp-page="CreateBoat">Create a new boat</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>BoatType</th>
            <th>Model</th>
            <th>SailNumber</th>
            <th>YearOfConstruction</th>
        </tr>
    </thead>
    <tbody>
        @foreach(Boat item in Model.Boats)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.TheBoatType</td>
                <td>@item.Model</td>
                <td>@item.SailNumber</td>
                <td>@item.YearOfConstruction</td>
            </tr>
        }

    </tbody>
</table>